<header class="sticky-top">
  <nav class="navbar">
    <a class="navbar-brand">
      <i class="fa fa-bars mr-2"
      (click)="menu.abreMenu()"></i></a>
    <app-menu #menu>
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-11">
            <img src="assets/img/logo.png" width="100px">
          </div>
        </div>
        <br><br>
        <div class="row">
          <ul class="list-unstyled">
            <li>
              <a class="item-menu" routerLink="/home" routerLinkActive="item-menu-active">
                <strong>Home</strong></a>
            </li>
            <li>
              <a class="item-menu" routerLink="/dashboard" routerLinkActive="item-menu-active">
                <strong>Dashboard</strong></a>
            </li>
          </ul>
        </div>
      </div>
    </app-menu>
    <div *ngIf="user$ | async as user">
      <div *ngIf="user.name">
        <i class="fa fa-user-circle mr-1" id="userIcon"></i>
        <a class="mr-1" id="userName">{{ user.name }}</a>
        <a (click)="logout()" id="logout"><strong>Logout</strong></a>
      </div>
    </div>
  </nav>
</header>

