.fa {
  padding-left: 25px;
  color: #00274E;
}

.fa:hover, #logout:hover {
  cursor: pointer;
}

.navbar {
  padding: 5px;
}

.navbar-text {
  padding-right: 25px;
}

#userIcon {
  padding-right: 5px;
}

#userName {
  padding-right: 10px;
  text-decoration: none;
  color: black;
}

#logout {
  padding-right: 25px;
  color: #00274E;
  font-size: medium;
}

.item-menu {
  padding: 15px;
  color: rgb(5, 5, 5);
  font-size: large;
  text-decoration: none;
}

.item-menu:hover {
  background-color: #ffffff;
}

.item-menu-active {
  border-left: 5px solid #00274E;
}

li {
  padding: 15px;
  padding-left: 0;
}

li:hover {
  background-color: #ffffff;
}

.list-unstyled {
  padding: 0;
}
