<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Dados do veículo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="mb-3">
            <label for="vin" class="form-label">Vin</label>
            <input type="text" class="form-control" id="vin">
          </div>
          <div class="mb-3">
            <label for="odometer" class="form-label">Odômetro</label>
            <input type="text" class="form-control" id="odometer">
          </div>
          <div class="mb-3">
            <label for="tirePressure" class="form-label">Pressão dos pneus</label>
            <input type="text" class="form-control" id="tirePressure">
          </div>
          <div class="mb-3">
            <label for="fuelLevel" class="form-label">Nível de combustível</label>
            <input type="text" class="form-control" id="fuelLevel">
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input type="text" class="form-control" id="status">
          </div>
          <div class="mb-3">
            <label for="batterStatus" class="form-label">Status da bateria</label>
            <input type="text" class="form-control" id="batterStatus">
          </div>
          <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" class="form-control" id="latitude">
          </div>
          <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" class="form-control" id="longitude">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-warning">Alterar</button>
        <button type="button" class="btn btn-primary">Adicionar</button>
      </div>
    </div>
  </div>
</div>
