<table class="table">
  <thead>
    <tr id="header">
      <td>Código - Vin</td>
      <td>Odômetro</td>
      <td>Nível de combustível</td>
      <td>Status</td>
      <td>Lat.</td>
      <td>Long.</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row" class="btn-group">
        <input type="search" aria-label="campo de busca"
        class="form-control" placeholder="Insira o código do veículo"
        [formControl]="queryField"
        >

        <button type="button" class="btn" aria-hidden="true" title="adicionar"
          data-bs-toggle="modal" data-bs-target="#vehicleDataModal" [disabled]="vehicleData">
            <i class="fa fa-plus"></i>
        </button>

        <button type="button" class="btn" aria-hidden="true" title="atualizar"
        data-bs-toggle="modal" data-bs-target="#vehicleDataModal"
        [disabled]="!vehicleData" (click)="transferReturnedVehicleData()">
          <i class="fa fa-pencil"></i>
        </button>

        <button type="button" class="btn" aria-hidden="true" title="deletar"
        (click)="confirmDelete()" [disabled]="!vehicleData">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td *ngIf="vehicleData">
        {{ vehicleData[0].odometer }} Km
      </td>
      <td *ngIf="vehicleData">
        {{ vehicleData[0].fuelLevel }}%
      </td>
      <td *ngIf="vehicleData">
        {{ vehicleData[0].status }}
      </td>
      <td *ngIf="vehicleData">
        {{ vehicleData[0].lat }}
      </td>
      <td *ngIf="vehicleData">
        {{ vehicleData[0]._long }}
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6"></td>
    </tr>
  </tfoot>
</table>
<app-modal></app-modal>
