<br><br><br><br>
      <h4 class="text-center">Boas-vindas</h4>
    <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <input class="form-control" placeholder="Nome de usuário"
        [(ngModel)]="user" name="user" #userField="ngModel" required/>
        <app-message
        *ngIf="userField.invalid && userField.touched"
        mensagem="Usuário obrigatório"></app-message>
      </div>
      <br>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Senha"
        [(ngModel)]="password" name="password" #passwordField="ngModel" required/>
        <app-message
          *ngIf="passwordField.invalid && passwordField.touched"
          mensagem="Senha obrigatória"></app-message>
      </div>
      <br>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Login</button>
      </div>
    </form>
    <p><strong>Não é um usuário? </strong><a [routerLink]="['cadastrar']">Cadastre-se!</a></p>
