<app-header></app-header>
<section class="container">
  <div class="text-center title"><h2><strong>Dashboard FORD</strong></h2></div>
  <div class="row">
    <div class="col">
      <app-card>
        <h5 class="card-header">Veículo</h5>
        <select class="form-select" (change)="selectVehicle($event)">
          <option selected disabled>selecione um veículo</option>
          <option *ngFor="let option of vehiclesList" [value]="option.id">{{ option.vehicle }}</option>
        </select>
      </app-card>
    </div>

    <div class="col">
      <app-card>
        <h5 class="card-header">Total de Vendas</h5>
        <h4 class="card-title">{{ selectedVehicle?.totalSales }}</h4>
        <p class="card-text">Unid.</p>
      </app-card>
    </div>

    <div class="col">
      <app-card>
        <h5 class="card-header">Conectados</h5>
        <h4 class="card-title">{{ selectedVehicle?.connected }}</h4>
        <p class="card-text">Unid.</p>
      </app-card>
    </div>

    <div class="col">
      <app-card>
        <h5 class="card-header">Software Updates</h5>
        <h4 class="card-title">{{ selectedVehicle?.softwareUpdates }}</h4>
        <p class="card-text">Unid.</p>
      </app-card>
    </div>
  </div>

  <div class="row" id="mid">
    <div class="col-6 img" *ngIf="selectedVehicle as selectCar">
      <img src="assets/img/{{ selectCar.vehicle }}.png" class="rounded mx-auto d-block" width="500px">
    </div>
    <div class="col-5 ">
      <app-chart></app-chart>
    </div>
  </div>
</section>
<app-table></app-table>
<app-modal
  class="modal fade" id="updateModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <button type="submit" class="btn btn-warning" (click)="modalComponent.updateVehicleData()">
    Atualizar
  </button>
</app-modal>
<app-modal
  class="modal fade" id="addModal" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <button type="submit" class="btn btn-primary" (click)="modalComponent.addVehicleData()">
    Adicionar
  </button>
</app-modal>
